/* Reset some defaults */
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.player-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  font-size: 1.2rem;
}

#start-game {
  padding: 1rem 2rem;
  margin: 0 5rem;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #6b33ee;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
}

#start-game:hover {
  background-color: #aaa;
  color: rgb(88, 51, 221);
}

main {
  flex: 1;
  display: none; /* Hide the game board initially */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-width: 50vw;
}

.player-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.board-container {
  margin-top: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  width: 315px;
  height: 315px;
  background-color: #f1f1f1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#restart-game {
  padding: 1rem 2rem;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #6b33ee;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
}

#restart-game:hover {
  background-color: #aaa;
  color: rgb(88, 51, 221);
}

.announce {
  font-size: 1.5rem;
  padding: 2rem;
}
